@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root,
:root[data-theme="Dark"] {
  --primary-color: #f0f0f0;

  --primary-bg-color: #111217;
  --secondary-bg-color: #28292e;

  --title-color: #9a9a9c;
  --link-color: #9a9a9c;
  --icon-color: #9a9a9c;
  --text-color: #9a9a9c;
}
:root[data-theme="Light"] {
  --primary-color: #0b0b0f;

  --primary-bg-color: #e9e9e9;
  --secondary-bg-color: #c7c8c9;

  --title-color: #0b0b0f;
  --link-color: #28292e;
  --icon-color: #28292e;
  --text-color: #28292e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  background: var(--primary-bg-color);
  font-family: "Poppins", sans-serif;
}
b {
  color: var(--primary-color);
  font-weight: 200;
}
h1,
h2,
h3 {
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  color: var(--title-color);

  font-weight: 200;
}
h1 {
  font-size: 2.5rem;
  text-align: justify;
}
p {
  font-size: 1.25rem;
  text-align: justify;
  color: var(--text-color);
}
i {
  color: var(--icon-color);
}
.header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 100vw;
}
.header__brand .header__logo {
  width: 3.25rem;
  height: 3.25rem;
}
#toglleTheme {
  font-size: 1.5rem;
  color: var(--primary-color);
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

.menu {
  display: flex;
  align-items: center;
  background: var(--primary-bg-color);
}
.header__toggle {
  display: flex;
  justify-content: flex-end;
}
.menu__item {
  width: 100%;
}
.menu--mobile {
  justify-content: space-between;
  border-top: 1px solid var(--secondary-bg-color);
  width: 100vw;
  position: fixed;
  bottom: 0;
}
.menu--mobile .menu__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

.active .menu__text,
.active .menu__icon,
.menu__text:hover,
.menu__icon:hover {
  color: var(--primary-color);
  font-weight: 600;
}
.menu__icon,
.menu__text {
  color: var(--text-color);
}

.menu__icon {
  font-size: 1.5rem;
}
.menu__text {
  font-size: 0.75rem;
  text-transform: uppercase;
}
.header__nav {
  display: none;
}
.menu--principal {
  gap: 1rem;
}
a {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  color: var(--primary-color);
  font-weight: 600;
}

main {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 1rem;
  gap: 2rem;
}
.menu--social {
  gap: 1rem;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  background: transparent;
  border-radius: 3rem;
  padding: 0.8rem 1rem;
  transition: ease-in-out 0.3s;
}
.btn:hover {
  background: var(--secondary-bg-color);
  cursor: pointer;
  transform: scale(1.05);
  transition: ease-in-out 0.3s;
}
.btn span,
i {
  font-size: 1.25rem;
  text-transform: uppercase;
}
.btn--primary span {
  color: var(--primary-color);
}

.btn--primary {
  border: 2px solid var(--primary-color);
  transition: ease-in-out 0.3s;
}

.main__content1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.25rem;
  padding: 4rem 1rem 2rem 1rem;
  background: var(--secondary-bg-color);
 ;
}
.skills h2 {
  text-transform: none;
  font-size: 2rem;
}
.skill__list {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  gap: 0.9rem;
}
.skill__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
}
.skill__logo {
  width: 4.4rem;
  height: 4.4rem;
}

footer {
  width: 100%;
  padding: 2rem 1rem 5rem 1rem;
  margin-bottom: 1rem;
  color: var(--text-color);
}
footer p {
  text-align: center;
}
@media (min-width: 768px) {
  .header {
    position: fixed;
    border-bottom: 1px solid var(--secondary-bg-color);
    padding: 1rem 10rem;
    background: var(--primary-bg-color);
  }
  .nav--mobile {
    display: none;
  }
  .header__nav {
    display: flex;
  }
  .header__nav,
  .header__toggle {
    display: 30%;
  }
  main {
    padding: 9.25rem 15rem 9.25rem 15rem;
  }
  .skills {
    padding: 4.25rem 15rem;
    gap: 3rem;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: center;
  }
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
  }
  .main__content1 {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 2rem;
  }
}
@media (min-width: 1200px) {
  .header {
    padding: 1rem 15rem;
  }
  .btn {
    width: auto;
  }
}
